$viewport-minimum: 320px;
$viewport-maximum: 1440px;

$breakpoint-small: 768px; // or 640px
$breakpoint-medium: 1100px; // or 1280px
$breakpoint-large: 1440px; // or 1600px


$psdWidth:        1440;
$mobilePsdWidth:  414;
