$color-white: #ffffff;
$color-black: #000000;
$color-off-white: #f2f2ed;
$color-off-white-two: #f5f5f4;
$color-dark-teal: #004751;
$color-dark-tan: #a88141;
$color-military-green: #586241;

$primary-background-color: $color-white;
$primary-color: $color-dark-teal;
$secondary-color: $color-dark-tan;
