@function get-vw($target) { 
    $vw-context: ($mobilePsdWidth*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}
@function get-vw-tablet($target) { 
    $vw-context: ($psdWidth*.01) * 1px;
    @return (($target/$vw-context) * 1vw) * 1.2;
}
@function get-vw-desktop($target) { 
    $vw-context: ($psdWidth*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}